
#expri{
    text-align: center;
}
p{
    color:lightslategray;
}
.half{
    width:43%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;   
}

body{
    font-family: 'Poppins', sans-serif;
    
}

h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 20px;
}
.color-hilight{
    color:olive
}
.half img{
    width: 100%;
}
.top-banner{
    background-image: url("images/top-banner.png");

    background-repeat:no-repeat;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
body{
    margin:0%;
}
.link{
    text-decoration: double;
    background-color: olive;
    padding:15px 40px;
    border-radius: 5px;
    color:lavender;
    font-weight: 5px;
}
.middle img{
    width: 100%;
}
.middle-banner{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.blog{
    box-shadow: 10px 10px 50px rgb(184, 156, 156);
    border-radius: 20px;
    height:70%;
}
.end-banner{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position:inherit;
}