
p{
    color:lightslategray;
}
.half{
    width:43%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;   
}

body{
    font-family: 'Poppins', sans-serif;}

h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 20px;
}
.color{
    color:olive
}
.half img{
    width: 100%;
}
.top-banner{
    background-image: url("images/top-banner.png");

    background-repeat:no-repeat;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
body{
    margin:0%;
}
.link{
    text-decoration: double;
    background-color: olive;
    padding:15px 40px;
    border-radius: 5px;
    color:lavender;
    font-weight: 5px;
}
.middle img{
    width: 100%;
}